# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/

# Ignore IDE settings
.vscode/
.settings/
.classpath
.project
bin/

# Ignore macOS system files
.DS_Store
